<% layout('../layout.ejs') -%>
<%- partial('../partials/flashMessage.ejs',{ "flash": flash }) %>
<form id="loginForm" action="/auth/login" method="post">
	<fieldset>
		<legend>Login</legend>
		<label for="username" class="required">Username:</label>
		<input type="text" name="username" id="username" value="" size="30" maxLength="30" autofocus="autofocus" required="required" autocomplete="on">
		<label for="password" class="required">Password:</label>
		<input type="password" name="password" id="password" value="" size="30" maxLength="30" autocomplete="on" required="required">
	</fieldset>
	<input type="submit" name="submit" id="submit" value="Log In" class="btn btn-primary">
</form>