<% layout('../layout.ejs') -%>
<%- partial('../partials/figure.ejs', {"orientation":"portrait","src":"/images/wildflowers.jpg","title":"Anemone","caption":"Anemone"}) %>
<section id="left_container">
	<header id="homeTitle" class="content_box accordion_title">
    	<h1 class="content_header">menu</h1>
	</header>
	<div class="content_box">
		<p>Coming Soon!</p>
		<ul>
			<li>Secure forms</li>
		</ul>
	</div>
	<%- partial('../partials/flashMessage.ejs',{ "flash": flash }) %>
	<%- partial('../partials/slideshow.ejs') %>		
</section>