<% layout('../layout.ejs') -%>
<section class="row">
	<article class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Menu</h4>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li><a class="content_a" href="/users/index">User Maintenance</a></li>
				</ul>
				<%- partial('../partials/flashMessage.ejs',{ "flash": flash }) %>
				<div style="height:90px">
					<%- partial('../partials/slideshow.ejs') %>
				</div>					
			</div>
		</div>	
    </article>
    <aside class="col-md-6">
		<img src="/images/wildflowers.jpg" class="img-responsive img-thumbnail" />
    </aside>    
</section>