<% layout('../layout.ejs') -%>
<section class="row">
	<article class="col-md-6">
		<p>
			<ul id="toolsNav" class="nav nav-pills">
			  <li id="nodejsNavPill"><a href="/#/nodejs">Node.js</a></li>
			  <li id="angularjsNavPill"><a href="/#/angularjs">AngularJS</a></li>
			  <li id="bootstrapNavPill"><a href="/#/bootstrap">Bootstrap</a></li>
			</ul>
		</p>
		<div class="ng-view"></div>	
		<%- partial('../partials/slideshow.ejs') %>
    </article>
    <aside class="col-md-4">
    	<p>
			<%- partial('../partials/carousel.ejs') %>
		</p>
    </aside>
    <div class="col-md-2"></div>
</section>