<% layout('../layout.ejs') -%>
<%- partial('../partials/figure.ejs', {"orientation":"portrait","src":"/images/statefairride.jpg","title":"Zipper","caption":"Zipper"}) %>
<section id="left_container">
	<header id="homeTitle" class="content_box accordion_title">
    	<h1 class="content_header">node.js</h1>
	</header>
	<div id="accordion">
		<h3>
			<a href="#">What is Node.js?</a>
		</h3>
		<div>
			<p>
				Welcome to Steve Moore's portfolio Node.js site, running on Heroku.
				Node.js is a fast, scalable web and network application platform built on the Chrome V8 JavaScript runtime.  It is valued primarily
				for its event-driven, non-blocking IO model.  Node.js is cool.
			</p>
			<ul>
				<li><a class="content_a" href="http://nodejs.org/" rel="external">Official Node.js site</a></li>
				<li><a class="content_a" href="https://devcenter.heroku.com/articles/nodejs" rel="external">Getting Started with Node.js on Heroku</a></li>
				<li><a class="content_a" href="http://www.codeschool.com/" rel="external">Node.js training at Code School</a></li>
				<li><a class="content_a" href="http://www.lynda.com/" rel="external">Node.js training at Lynda.com</a></li>
				<li><a class="content_a" href="http://www.nodetuts.com/" rel="external">Node Tuts</a></li>
			</ul>		
		</div>		
		<h3>
			<a href="#">Node Development</a>
		</h3>
		<div>
			<p>This Node.js site runs on Heroku and uses the following npm modules:</p>
			<ul>
				<li>express</li>
				<li>ejs</li>
				<li>ejs-locals</li>
				<li>mysql</li>
				<li>underscore</li>
				<li>redis</li>
				<li>connect-flash</li>
				<li>bcrypt</li>
				<li>connect-redis</li>
				<li>mongoose</li>	
			</ul>  
			<p>The front end makes use of jQuery and jQuery UI and was authored using CoffeeScript.  
			The CSS was authored and pre-processed using SASS and Compass.</p>
			<p>The back end uses redis for a session store, a MongoDB collection for user authentication, and
			does ordinary database queries against a remote MySQL database.</p>			
			<p>I do my development in Aptana Studio 3 on an Ubuntu laptop and on a Mac running
			OS X Lion. I use git and GitHub for version control.</p>
		</div>
		<h3>
			<a href="#">Steve Moore</a>
		</h3>
		<div>
			<p>I'm a PHP / SQL Server developer at <a class="content_a" href="http://www.visi.com" rel="external">VISI</a>
			 in Eden Prairie, Minnesota. I live in Northeast Minneapolis.</p>
			<ul>
				<li>Skilled web and database developer</li>
				<li>Experienced data architect and database administrator</li>
				<li>Strong analysis and design background</li>
				<li>Microsoft Certified Solution Developer (MCSD) and Microsoft
					Certified IT Professional (MCITP): Database Developer 2008, with 7
					certifications in SQL Server development and administration</li>
				<li>Linux / open source enthusiast with interests in Ubuntu, Zend / PHP, Ruby on Rails, Node.js
				    and cutting-edge front end tools like SASS and CoffeeScript</li>
			</ul>
			<p>
				<img src="/images/mcsd.png" alt="MCSD Logo"
					class="logo60" />
				<img src="/images/mcitp.png" alt="MCITP Logo"
					class="logo60" />
			</p>
		</div>		
	</div>
	<%- partial('../partials/slideshow.ejs') %>
</section>