<header id="header_container">
	<a href="index.html"><h1 class="header_text"><span id="header_first_word">MOORE</span><span id="header_plus">+</span><span id="header_second_word">DATABASE</span></h1></a>
</header>