<nav class="navbar navbar-inverse">
	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>	
	    <a class="brand" href="http://moore-database.com/index.html">MOORE+DATABASE</a>
	    <div class="nav-collapse collapse">
		    <ul class="nav">
				<li><a href="/content/nodejs/" target="_self">node.js</a></li>
				<li class="dropdown">
		            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		            	demos 
		            	<span class="caret"></span>
		            </a>
		            <ul class="dropdown-menu">
						<li><a href="/birding/orders/">database 1</a></li>
						<li><a href="/birding/months/">database 2</a></li>
					</ul>
				</li>					
				<li class="dropdown">
		            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		            	experience 
		            	<span class="caret"></span>
		            </a>
		            <ul class="dropdown-menu">
						<li><a href="http://moore-database.com/zend/public/content/education/">education</a></li>
						<li><a href="http://moore-database.com/zend/public/content/certifications/">certifications</a></li>
						<li><a href="http://moore-database.com/zend/public/content/training/">training</a></li>
						<li><a href="http://moore-database.com/zend/public/content/tools/">tools</a></li>
						<li><a href="http://moore-database.com/zend/public/content/projects/">projects</a></li>
					</ul>
				</li>						
				<li class="dropdown">
		            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		            	explore 
		            	<span class="caret"></span>
		            </a>
		            <ul class="dropdown-menu">
						<li><a href="http://moore-database.com/">Zend Site</a></li>
						<li><a href="http://cms.moore-database.com/">Rails Site</a></li>
						<li><a href="http://mobile.moore-database.com/">jQuery Mobile Site</a></li>
						<li class="divider"></li>
                  		<li><a href="http://moore-database.com/zend/public/content/contact" target="_self">Contact me</a></li>
		            </ul>
				</li>	
				<% if (typeof authenticated != 'undefined' && authenticated == true) { %>
					<li><a href="/content/menu/" target="_self">menu</a></li>		
					<li><a href="/auth/logout/" target="_self">logout</a></li>
				<% } else { %>
					<li><a href="/auth/login/" target="_self">login</a></li>
				<% } %>								
		    </ul>
	    </div>
    </div>
</nav>