<div id="dialog-confirm" title="Delete Item?">
	<p class="dialog_p">
		<span class="ui-icon ui-icon-alert" style="float:left;margin:0 7px 20px 0;"></span>
		This item will be permanently deleted and cannot 
		be recovered. Are you sure?
	</p>
</div>