<% if (typeof flash != 'undefined' && flash.error) { %>
  <% if (flash.error) { %>
  	<div class="alert alert-info">
		<p><strong>
			<span class="glyphicon glyphicon-warning-sign"></span>
			<%= flash.error %>
		</p></strong>  
	</div>    
  <% } %>  
<% } %>