<nav id="footer_container" class="navBar">
	<ul>
		<li><a href="http://moore-database.com/zend/public/content/birdingreports/" target="_self">zend</a></li>
		<li><a href="http://cms.moore-database.com/" target="_self">rails</a></li>
		<li><a href="http://mobile.moore-database.com/" target="_self">mobile</a></li>		
		<li><a href="http://moore-database.com/zend/public/content/contact/" rel="author" target="_self">contact me</a></li>
	</ul>
</nav>