<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
  	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex2-collapse">  	
		<ul class="nav navbar-nav">
			<li><a href="http://moore-database.com/zend/public/content/birdingreports/" target="_self">Zend</a></li>
			<li><a href="http://cms.moore-database.com/" target="_self">Ruby on Rails</a></li>
			<li><a href="http://mobile.moore-database.com/" target="_self">Mobile</a></li>		
			<li><a href="http://moore-database.com/zend/public/content/contact/" rel="author" target="_self">Contact Me</a></li>
		</ul>
	</div>
</nav>