<nav id="footer_container" class="navBar">
	<ul>
		<li><a href="http://moore-database.com/zend/public/login/login">login</a></li>
		<li><a href="http://wordpress.moore-database.com" rel="external">blog</a></li>
		<li><a href="http://moore-database.com/zend/public/content/contact" rel="author">contact me</a></li>
		<li><a href="http://moore-database.com/zend/public/content/settings">settings</a></li>
	</ul>
</nav>