<nav id="footer_container" class="navBar">
	<ul>
		<li><a href="http://moore-database.com/zend/public/login/login" target="_self">login</a></li>
		<li><a href="http://wordpress.moore-database.com" target="_self">blog</a></li>
		<li><a href="http://moore-database.com/zend/public/content/contact" rel="author" target="_self">contact me</a></li>
		<li><a href="http://moore-database.com/zend/public/content/settings" target="_self">settings</a></li>
	</ul>
</nav>