<div class="container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
	    	<a class="navbar-brand" href="/" target="_self">MOORE+DATABASE</a>
	  	</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
				<li><a href="/" target="_self">TOOLS</a></li>
				<li><a href="/birding/#/orders" target="_self">BIRDING</a></li>
			</ul>
		</div>
	</nav>
</div>