<nav id="dropdown_container" class="navBar">
	<ul>
		<li><a href="http://moore-database.com/index.html" target="_self">home</a></li>
		<li><a href="http://moore-database.com/zend/public/content/education" target="_self">experience</a></li>
		<li><a href="http://moore-database.com/zend/public/content/birdingreports" target="_self">zend</a></li>
		<li><a href="http://cms.moore-database.com" target="_self">rails</a></li>
		<li><a href="http://mobile.moore-database.com" target="_self">mobile</a></li>	
		<li><a href="http://node.moore-database.com" target="_self">node.js</a></li>
	</ul>
</nav>