<nav id="dropdown_container" class="navBar">
	<ul>
		<li><a href="http://moore-database.com/index.html">home</a></li>
		<li><a href="http://moore-database.com/zend/public/content/education">experience</a></li>
		<li><a href="http://moore-database.com/zend/public/content/birdingreports">zend</a></li>
		<li><a href="http://cms.moore-database.com">rails</a></li>
		<li><a href="http://mobile.moore-database.com">mobile</a></li>	
		<li><a href="http://moore-database.com/zend/public/content/contact" rel="author">contact me</a></li>
	</ul>
</nav>