<div id="slideshow" style="margin: 20px auto; width: 300px; height: 300px">
	<div style="width: 300px; height: 300px;">
		<img src="/images/node.png"
			alt="Node.js Logo"
			class="logo60"
			style="background-color: #AAA; padding: 10px; margin: auto; display: block;" />
	</div>	
	<div style="width: 300px; height: 300px;">	
		<img src="/images/heroku.png"
			alt="Heroku Logo"
			class="logo60"
			style="margin: auto; display: block;" />
		</div>			
	<div style="width: 300px; height: 300px;">	
		<img src="/images/redis-logo.png"
			alt="Redis Logo"
			class="logo60"
			style="margin: auto; display: block;" />
	</div>			
	<div style="width: 300px; height: 300px;">			
		<img src="/images/mongodb.png"
			alt="MongoDB Logo"
			class="logo60"
			style="margin: auto; display: block;" />
	</div>																						
</div>