<div id="slideshow">
	<div>
		<img src="/images/node.png"
			alt="Node.js Logo"
			class="logo60"
			style="background-color: #AAA; padding: 10px;" />
	</div>	
	<div>	
		<img src="/images/heroku.png"
			alt="Heroku Logo"
			class="logo60" />
		</div>			
	<div>	
		<img src="/images/redis-logo.png"
			alt="Redis Logo"
			class="logo60" />
	</div>			
	<div>			
		<img src="/images/mongodb.png"
			alt="MongoDB Logo"
			class="logo60" />
	</div>
	<div>			
		<img src="/images/bootstrap-logo.png"
			alt="Bootstrap Logo"
			class="logo80" />
	</div>																								
</div>