lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.DS_Store
public/.DS_Store
node.sublime-project
node.sublime-workspace
.project
public/.sass-cache/*
.sass-cache/*
node_modules/bcrypt/*
.idea/workspace.xml
