// table-less layout for images
figure.myFigure {
  display: table;
  text-align: center;
  border: $border;
  opacity: 0.0; // animated to 100%
  position: absolute;
  figcaption {
    display: table-caption;
    caption-side: bottom ;
    font-size: .8em;
    background: black;
    color: #BBB;
    line-height: 2em;
    &:hover {
      color: white;
    }
  }
  img {
    max-width: 100%;
    width: 100%;
  }
  &.portrait {
    width: 33%;
    margin-right: 16%;    
  }
  &.landscape {
    width: 49%;
  }
}

// float variation
figure.float {
  float: right;
  position: relative;
}