// logos 
img.logo80 {
  height: 80px; 
  margin: 10px auto
}
img.logo60 {
  height: 60px; 
  margin: 10px auto
}
img.logo30 {
  height: 30px; 
  margin: 10px auto
}
// remove padding on content container
#content_container {
  padding: 0;
}
// italicized species names
.scientific_name {
    font-style: italic;
}
// so navbar doesn't overlay content
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
// remove space at bottom of table
.table-responsive {
  margin-bottom: 0;
}
// set max width on Plotly.js charts
#chart_div {
  max-width: 800px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
// tables 100% so they fill panel
.report_table {
  width: 100%;
}
// slideshow styling
#slideshow {
  margin: 20px auto;
  width: 300px;
  height: 300px
}
#slideshow div {
  width: 300px;
  height: 300px;
}
#slideshow div img {
  margin: auto;
  display: block;
}
#photoCarousel img {
  width: 100%;
}
// pad above and below nav pills
#toolsNav {
  padding: 10px 0;
}
// margin above and below photos
#photoCarousel {
  margin: 10px 0;
}
// pad above and below buttons on detail page
#detailButtonGroup {
  padding: 10px 0;
}
// put a little space to right of glyphicon
.glyphicon {
  margin-right: 5px;
}
// remove the margin on the back button arrow
.glyphicon-menu-left {
  margin-right: 0px;
}
// multiple column layouts like static and detail
// remove padding from columns
.col-no-pad {
    padding: 0;
}
.col-spacer {
    max-width: 10px;
}