#slideshow {
  margin: 20px auto; 
  width: 300px; 
  height: 300px
}  
#slideshow div {
  width: 300px; 
  height: 300px;
}  
#slideshow div img {
  margin: auto;
  display: block;
}
#photoCarousel img {
  width: 100%;
}