<% layout('layout.ejs') -%>
<section class="row">
	<article class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4><%= title %></h4>
			</div>
			<div class="panel-body">
				<p><%= description %></p>	
			</div>
		</div>
	</article>
	<aside class="col-md-6">
		<%- partial('partials/figure.ejs', {"orientation":"landscape","src":"/images/university.jpg","title":"University","caption":"University"}) %>	
	</aside>
</section>