<% layout('layout.ejs') -%>
<section class="row">
	<article class="col-md-6">
		<p>
			<ul id="toolsNav" class="nav nav-pills">
			  <li><a href="/">Tools</a></li>
			  <li><a href="/birding/menu/#/orders">Birding</a></li>
			</ul>
		</p>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= title %></h3>
			</div>
			<div class="panel-body">
				<p><%= description %></p>
			</div>
		</div>
	</article>
	<aside class="col-md-6">
		<img src="/images/university.jpg" class="img-thumbnail img-responsive" alt="University" title="University"/>
	</aside>
</section>