<% layout('layout.ejs') -%>
<section id="left_container">
	<header id="homeTitle" class="content_box accordion_title">
    	<h1 class="content_header">node.js</h1>
	</header>
	<div id="accordion">
		<h3>
			<a href="#">What is Node.js?</a>
		</h3>
		<div>
			<p>
				Welcome to Steve Moore's portfolio Node.js site.
				Node.js is a fast, scalable web and network application platform built on the Chrome V8 JavaScript runtime.  It is valued primarily
				for its event-driven, non-blocking IO model.  Node.js is cool.
			</p>
			<ul>
				<li><a class="content_a" href="http://nodejs.org/" rel="external">Official Node.js site</a></li>
				<li><a class="content_a" href="http://expressjs.com/" rel="external">Express framework</a></li>
				<li><a class="content_a" href="http://embeddedjs.com/" rel="external">EJS templating system</a></li>
				<li><a class="content_a" href="http://www.codeschool.com/" rel="external">Node.js training at Code School</a></li>
				<li><a class="content_a" href="http://www.lynda.com/" rel="external">Node.js training at Lynda.com</a></li>
			</ul>
			<p>
				<img src="/images/node.png"
					alt="Node.js Logo"
					class="logo60"
					style="background-color: #AAA; padding: 10px;" />													
			</p>			
		</div>		
		<h3>
			<a href="#">Node Development</a>
		</h3>
		<div>
			<p>
				This site uses Node.js, Express, the ejs templating system and ejs-locals for
				layout and partial support. The site runs on an Amazon EC2 instance of Ubuntu Server 12.04 LTS.  
				The front end makes use of jQuery and jQuery UI and was authored using CoffeeScript.  
				The CSS was authored and pre-processed using SASS and Compass.
			</p>
			<p>
				I do my development in Aptana Studio 3 and Sublime Text 2 on an Ubuntu 
				laptop and on a Mac running OS X Lion. I use git and GitHub for version control.
			</p>
			<p>
				<img src="/images/node.png"
					alt="Node.js Logo"
					class="logo60"
					style="background-color: #AAA; padding: 10px;" />	
				<img src="/images/ubuntu-logo.png"
					alt="Ubuntu Logo"
					class="logo80" />		
				<img src="/images/Powered-by-Amazon-Web-Services.jpg"
					alt="Amazon Logo"
					class="logo80" />															
			</p>
		</div>
		<h3>
			<a href="#">Steve Moore</a>
		</h3>
		<div>
			<p>I'm a PHP / SQL Server developer at <a class="content_a" href="http://www.visi.com" rel="external">VISI</a>
			 in Eden Prairie, Minnesota. I live in Northeast Minneapolis.</p>
			<ul>
				<li>Skilled web and database developer</li>
				<li>Experienced data architect and database administrator</li>
				<li>Strong analysis and design background</li>
				<li>Microsoft Certified Solution Developer (MCSD) and Microsoft
					Certified IT Professional (MCITP): Database Developer 2008, with 7
					certifications in SQL Server development and administration</li>
				<li>Linux / open source enthusiast with interests in Ubuntu, Zend / PHP, Ruby on Rails, Node.js
				    and cutting-edge front end tools like SASS and CoffeeScript</li>
			</ul>
			<p>
				<img src="/images/mcsd.png" alt="MCSD Logo"
					class="logo60" />
				<img src="/images/mcitp.png" alt="MCITP Logo"
					class="logo60" />
			</p>
		</div>		
	</div>
</section>