<% layout('layout.ejs') -%>
<%- partial('partials/figure.ejs', {"orientation":"landscape","src":"/images/minnehahabridge.jpg","title":"Minnehaha","caption":"Minnehaha"}) %>
<section id="left_container">
	<header id="homeTitle" class="content_box accordion_title">
    	<h1 class="content_header">MySQL Test Page</h1>
	</header>
	<section class="content_box">
		<p>
			Database test was successful.
		</p>
		<p>
			Species count: <%= speciesCount %>
		</p>		
	</section>
	<p>
		<img src="/images/node.png"
			alt="Node.js Logo"
			class="logo60"
			style="background-color: #AAA; padding: 10px;" />		
		<img src="/images/heroku.png"
			alt="Heroku Logo"
			class="logo60" />															
	</p>
</section>