<article class="row" data-ng-controller="MonthsCtrl" ng-cloak>
	<div class="alert alert-danger" role="alert" data-ng-show="error !== undefined">
		<p>
			A database error occurred:<br />
			Error code: {{ error.code }}<br />
			Error number: {{ error.errno }}<br />
			SQL State: {{ error.sqlState }}<br />
		</p>
	</div>
	<div class="panel panel-primary">		
		<div class="panel-heading">
			<h3 class="panel-title">Species By Month</h3>
		</div>
		<div class="panel-body">
			<figure id="linechart">
			    <div id="chart_div"></div>
			</figure>
		</div>
		<table id='months'
		       class='table-striped table-condensed table-bordered table-responsive report_table'
			   title='Month Sightings' data-ng-show="months.length">
			<thead>
				<tr>
			    	<th class="text-left"   data-ng-click="sortResults('monthNumber')">Month</th>
			  		<th class="text-right"  data-ng-click="sortResults('speciesCount')">Species</th>
			  		<th class="text-right"  data-ng-click="sortResults('tripCount')">Trips</th>	  	
				</tr>
			</thead>
			<tbody>		
				<tr data-ng-repeat="month in months | orderBy:predicate:reverse">
					<td class="text-left">{{ month.monthName }}</td>
					<td class="text-right">{{ month.speciesCount }}</td>	
					<td class="text-right">{{ month.tripCount }}</td>					
				</tr>
			</tbody>
		</table>
	</div>
</article>