<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseFive"> Welcome / Birding Demos </a></h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>
					Welcome to Steve Moore's portfolio Node.js site, running on Heroku.  The code for this site is availabe for review in a public repo on <a href="https://github.com/stephenmoore56/mooredatabase-node" target="_blank">GitHub</a>.
				</p>
				<p>The birding demos on this site demonstrate:</p>
				<ul>
					<li>Integration of a Node.js app running on Heroku with an Amazon RDS MySQL backend; the node module mysql is used for data access.</li>
					<li>The tables are drawn client-side using an AngularJS MVC app, with JSON data obtained from the Node.js app.</li>
					<li>The charts are drawn client-side using Plotly.js with JSON data obtained from the Node.js app.</li>
				</ul>
				<a href="/birding/#/orders" class="btn btn-success">View Birding Demos</a>
			</div>
		</div>
	</div>	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseOne"> What is Node.js? </a></h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<p>
					Node.js is a software platform that is used to build fast, scalable network
					(especially server-side) applications. Node.js is built on the Chrome V8
					JavaScript runtime. Node.js utilizes JavaScript as its
					scripting language, and achieves high throughput via non-blocking I/O and a
					single-threaded event loop.
				</p>
				<p>
					Node.js contains a built-in HTTP server library,
					making it possible to run a web server without the use of external software,
					such as Apache, and allowing more control of how the web server
					works. Node.js enables web developers to create an entire web application in
					JavaScript, both server-side and client-side.
				</p>
				<p>Node.js is cool.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseTwo"> Node Development </a></h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<p>I do my development in Sublime Text or WebStorm on Ubuntu Linux or OS X.
					I use git and GitHub for version control, and gulp for build automation.
					This site runs on Heroku.</p>
				<p>The front end makes use of AngularJS, Bootstrap, jQuery and jQuery UI.
				Custom CSS was authored and pre-processed using SASS and Compass.</p>
				<p>The back end does SQL queries against a remote MySQL database (in AWS RDS</p>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseThree"> Node Modules </a></h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<p>This Node.js site uses the following npm modules:</p>
				<ul>
					<li>express</li>
					<li>ejs</li>
					<li>ejs-locals</li>
					<li>mysql</li>
					<li>node-cache</li>
                    <li>gulp and gulp plugins</li>
                    <li>jasmine-node and frisby</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseFour"> Links </a></h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a class="content_a" href="http://nodejs.org/" rel="external">Official Node.js site</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>