<article class="row" data-ng-controller="SpeciesCtrl" ng-cloak>
	<div class="alert alert-danger" role="alert" data-ng-show="error !== undefined">
		<p>
			A database error occurred:<br />
			Error code: {{ error.code }}<br />
			Error number: {{ error.errno }}<br />
			SQL State: {{ error.sqlState }}<br />
		</p>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">All Species</h3>
		</div>
		<div class="panel-body">
			<form class="form-search">
				<label for="searchText">Filter:&nbsp;</label>
				<input type="text" name="searchText" id="searchText" value="" size="30" maxLength="30" data-ng-model="searchText" class="input-large search-query"> 
				<label>&nbsp;{{ (birds | filter:searchText).length }} Birds</label>
			</form>	
		</div>			
		<table id='months'
		       class='table-striped table-condensed table-bordered table-responsive report_table'
			   title='All Species' data-ng-show="(birds | filter:searchText).length">
			<thead>
				<tr>
			    	<th class="text-left"	data-ng-click="sortResults('common_name')">Common Name</th>		
			  		<th class="text-left">Actions</th> 			    		
			    	<th class="text-left hidden-xs"	data-ng-click="sortResults('scientific_name')">Scientific Name</th>
			    	<th class="text-left hidden-xs"	data-ng-click="sortResults('order_name')">Order</th>			
			    	<th class="text-left hidden-xs"	data-ng-click="sortResults('family')">Family</th>
			    	<th class="text-center hidden-xs" data-ng-click="sortResults('last_seen')">Last Seen</th>
			    	<th class="text-right" 	data-ng-click="sortResults('sightings')">Sightings</th>
				</tr>
			</thead>
			<tbody>		
				<tr data-ng-repeat="bird in birds | orderBy:predicate:reverse | filter:searchText">
					<td class="text-left">{{ bird.common_name }}</td>
					<td class="text-left">
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
								More <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="/birding/menu/#/detail/{{ bird.id }}">
										Detail
									</a>
								</li>
								<li>
									<a href="http://en.wikipedia.org/wiki/{{ bird.common_name }}">
										Wikipedia
									</a>
								</li>
								<li>
									<a href="http://images.google.com/images?q={{ bird.common_name }}&sout=1" rel="external">
										Google Images
									</a>
								</li>
							</ul>
						</div>
					</td>									
					<td class="text-left hidden-xs scientific_name">{{ bird.scientific_name }}</td>
					<td class="text-left hidden-xs">{{ bird.order_name }}</td>
					<td class="text-left hidden-xs">{{ bird.family }} {{ bird.subfamily }}</td>
					<td class="text-center hidden-xs">{{ bird.last_seen | date:'yyyy-MM-dd' }}</td>
					<td class="text-right">{{ bird.sightings }}</td>
				</tr>
			</tbody>
		</table>
	</div>	
	<p class="alert alert-info"
	   data-ng-show="(birds | filter:searchText).length == 0 && birds.length > 0">
		There are no birds matching your search criteria.
	</p>	
</article>