<% layout('../layout.ejs') -%>
<ul id="toolsNav" class="nav nav-pills">
  <li class="active"><a href="/birding/menu/#/orders">Species By Order</a></li>
  <li><a href="/birding/menu/#/months">Species By Month</a></li>
  <li><a href="/birding/menu/#/species">All Species</a></li>
</ul>
<br />
<div class="ng-view"></div>