<% layout('../layouts/birding.ejs') -%>
<section class="row-fluid">
	<div class="col-sm-12">
		<p>
			<ul id="toolsNav" class="nav nav-pills">
			  <li id="ordersNavPill"><a href="/birding/#/orders">Orders</a></li>
			  <li id="monthsNavPill"><a href="/birding/#/months">Months</a></li>
			  <li id="yearsNavPill"><a href="/birding/#/years">Years</a></li>
			  <li id="speciesNavPill"><a href="/birding/#/species">All</a></li>
			</ul>
		</p>
		<div class="ng-view"></div>
	</div>
</section>