<% layout('../layout.ejs') -%>
<ul id="toolsNav" class="nav nav-pills">
  <li id="ordersNavPill"><a href="/birding/menu/#/orders">Orders</a></li>
  <li id="monthsNavPill"><a href="/birding/menu/#/months">Months</a></li>
  <li id="yearsNavPill"><a href="/birding/menu/#/years">Years</a></li>
  <li id="speciesNavPill"><a href="/birding/menu/#/species">All</a></li>
</ul>
<br />
<div class="ng-view"></div>
<div style="height:50px;"></div>