<% layout('../layout.ejs') -%>
<% script('//www.google.com/jsapi?key=ABQIAAAAnQwHWIIOdfuy6mmnAPWMrxRz7CDf8eoRpZ9uxznpbqB6UwVVhhQRKXh9O02BW9yOPT-IoRtEsBIL8A') -%>
<% script('/javascripts/google_chart_species_by_month.min.js') -%>
<article class="row-fluid" data-ng-controller="MonthsCtrl">
	<header class="content_box accordion_title"> 
		<h4 class="content_header">Species By Month</h4>
	</header>
	<section class="content_box">
		<p>This page demonstrates</p>
		<ul>   
			<li>Cross-domain AJAX integration of a Node.js app running on Heroku with a remote Zend Framework app running at Rails Playground.</li>
			<li>The line chart (not visible on phones) is drawn client-side using the Google Charts API with data obtained via a JSONP call to the remote Zend Framework app.</li>
			<li>The table is drawn client-side using AngularJS techniques with JSON data obtained via an AJAX call to the Node.js app.</li>
		</ul>
	</section>	
	<div class="hidden-phone">
		<section class="content_box">	
			<figure id="linechart">
			    <div id="chart_div" title="Google Line Chart Example">
			    	<p>Loading...</p>
			    </div>
			</figure>
		</section>
	</div>
	<table id='months' class='report' style='width:100%;' title='Month Sightings'>
		<thead>
			<tr>
		    	<th class='image_title'			data-ng-click="setOrderProp('monthNumber')">Month Number</th>			
		    	<th class='image_title'			data-ng-click="setOrderProp('monthName')">Month Name</th>
		  		<th class='image_title numeric' data-ng-click="setOrderProp('speciesCount')">Species Sighted</th>
		  		<th class='image_title numeric' data-ng-click="setOrderProp('tripCount')">Trips Taken</th>	  		
			</tr>
		</thead>
		<tbody>		
			<tr data-ng-repeat="month in months | orderBy:orderProp:reverse">
				<td class="center_aligned">{{ month.monthNumber}}</td>
				<td class="left_aligned">{{ month.monthName }}</td>
				<td class="right_aligned">{{ month.speciesCount }}</td>	
				<td class="right_aligned">{{ month.tripCount }}</td>					
			</tr>
		</tbody>
	</table>	
</article>