<% layout('../layout.ejs') -%>
<header class="content_box accordion_title"> 
	<h4 class="content_header">Species By Order</h4>
</header>
<section class="content_box">
	<p>This page demonstrates</p>
	<ul>   
		<li>Integration of a Node.js app running on Heroku with an Amazon RDS MySQL backend; the
		node module mysql was used for data access.</li>
		<li>The table is drawn server-side using Express, ejs templates for views, and ejs-locals
		for layout and partial support.</li>
		<li>The pie chart is drawn client-side using the Google Charts API with 
		data obtained via an AJAX call to the Node.js app.</li>
	</ul>
</section>	
<section class="content_box">	
	<figure id="piechart">
	    <div id="chart_div" title="Google Pie Chart Example">
	    	<p>Loading...</p>
	    </div>
	</figure>
</section>
<table id='species' class='report sorted' style='width:100%;' title='Order Sightings'>
	<thead>
		<tr>
	    	<th class='image_title'>Order</th>
	    	<th class='image_title'>Notes</th>
	  		<th class='image_title numeric'>Species Sighted</th>
	  		<th class='image_title numeric'>Total Species</th>	  		
		</tr>
	</thead>
	<tbody>		
	<% orders.forEach(function(order) { %> 
		<tr class="order">
			<td class="left_aligned orderName"><%= order.order_name  %></td>
			<td class="left_aligned"><%= order.order_notes %></td>
			<td class="right_aligned"><%= order.speciesCount %></td>	
			<td class="right_aligned"><%= order.totalSpecies %></td>					
		</tr>
	<% }) %> 
	</tbody>
</table>