<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> What is AngularJS? </a></h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<p>
					The front end of this site was developed using AngularJS.  AngularJS
					is an open-source JavaScript framework, maintained by Google, that
					assists with running single-page applications (SPA's). Its goal is to augment
					browser-based applications with model–view–controller (MVC) capability,
					in an effort to make both development and testing easier.
				</p>
				<p>
					AngularJS is cool.
				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Links </a></h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li>
						<a class="content_a" href="http://angularjs.org/" rel="external">Official AngularJS site</a>
					</li>
					<li>
						<a class="content_a" href="http://egghead.io" rel="external">AngularJS Videos</a>
					</li>
					<li>
						<a class="content_a" href="http://www.codeschool.com/" rel="external">AngularJS training at Code School</a>
					</li>
					<li>
						<a class="content_a" href="http://www.lynda.com/" rel="external">AngularJS training at Lynda.com</a>
					</li>
					<li>
						<a class="content_a" href="https://github.com/angular/angular-seed/" rel="external">The angular-seed project at GitHub</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
