<h1>Node.js</h1>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> What is Node.js? </a></h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>
					Welcome to Steve Moore's portfolio Node.js site, running on Heroku.
					Node.js is a fast, scalable web and network application platform built on the Chrome V8 JavaScript runtime.  It is valued primarily
					for its event-driven, non-blocking IO model.  Node.js is cool.
				</p>
				<ul>
					<li><a class="content_a" href="http://nodejs.org/" rel="external">Official Node.js site</a></li>
					<li><a class="content_a" href="https://devcenter.heroku.com/articles/nodejs" rel="external">Getting Started with Node.js on Heroku</a></li>
					<li><a class="content_a" href="http://www.codeschool.com/" rel="external">Node.js training at Code School</a></li>
					<li><a class="content_a" href="http://www.lynda.com/" rel="external">Node.js training at Lynda.com</a></li>
					<li><a class="content_a" href="http://www.nodetuts.com/" rel="external">Node Tuts</a></li>
				</ul>		
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Node Development </a></h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<p>I do my development in Aptana Studio 3 on an Ubuntu laptop and on a Mac running
				OS X Lion. I use git and GitHub for version control. This site runs on Heroku.</p>		
				<p>The front end makes use of AngularJS, Bootstrap, jQuery and jQuery UI; most of the JavaScript was authored using CoffeeScript.  
				The CSS was authored and pre-processed using SASS and Compass.</p>
				<p>The back end uses redis for a session store, a MongoDB collection for user authentication, and
				does ordinary database queries against a remote MySQL database (in AWS RDS) on the server side and client-side
				via AJAX.  JavaScript was authored using CoffeeScript.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Node Modules </a></h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<p>This Node.js site uses the following npm modules:</p>
				<ul>
					<li>express</li>
					<li>ejs</li>
					<li>ejs-locals</li>
					<li>mysql</li>
					<li>underscore</li>
					<li>redis</li>
					<li>connect-flash</li>
					<li>bcrypt</li>
					<li>connect-redis</li>
					<li>mongoose</li>
					<li>moment</li>	
				</ul>
			</div>
		</div>
	</div>
</div>