<header id="homeTitle" class="content_box accordion_title">
	<h1 class="content_headerzzz">front end</h1>
</header>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> AngularJS </a></h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>
					The front end of this site was developed using AngularJS, Google's client-side, Javascript MVC framework.
					Below are some links to resources for AngularJS development and training.
				</p>
				<ul>
					<li>
						<a class="content_a" href="http://angularjs.org/" rel="external">Official AngularJS site</a>
					</li>
					<li>
						<a class="content_a" href="http://egghead.io" rel="external">AngularJS Videos</a>
					</li>
					<li>
						<a class="content_a" href="http://www.codeschool.com/" rel="external">AngularJS training at Code School</a>
					</li>
					<li>
						<a class="content_a" href="http://www.lynda.com/" rel="external">AngularJS training at Lynda.com</a>
					</li>
					<li>
						<a class="content_a" href="https://github.com/angular/angular-seed/" rel="external">The angular-seed project at GitHub</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Bootstrap </a></h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<p>
					The front end of this site was styled using Twitter Bootstrap, a responsive web design (RWD) framework.
					Below are some links to resources for Bootstrap development and training.
				</p>
				<ul>
					<li>
						<a class="content_a" href="http://getbootstrap.com/" rel="external">Official Bootstrap site</a>
					</li>
					<li>
						<a class="content_a" href="http://www.lynda.com/" rel="external">Bootstrap training at Lynda.com</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>