<article class="row" data-ng-controller="MonthsCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Species By Month</h4>
		</div>
		<div class="panel-body hidden-xs">	
			<figure id="linechart">
			    <div id="chart_div" title="Google Line Chart Example">
			    	<p>Loading...</p>
			    </div>
			</figure>
		</div>
		<table id='months' class='table-striped table-condensed table-bordered table-responsive' style="width:100%" title='Month Sightings'>
			<thead>
				<tr>
			    	<th	class="text-center" data-ng-click="setOrderProp('monthNumber')">Month Number</th>			
			    	<th class="text-left"   data-ng-click="setOrderProp('monthName')">Month Name</th>
			  		<th class="text-right"  data-ng-click="setOrderProp('speciesCount')">Species Sighted</th>
			  		<th class="text-right"  data-ng-click="setOrderProp('tripCount')">Trips Taken</th>	  		
				</tr>
			</thead>
			<tbody>		
				<tr data-ng-repeat="month in months | orderBy:orderProp:reverse">
					<td class="text-center">{{ month.monthNumber}}</td>
					<td class="text-left">{{ month.monthName }}</td>
					<td class="text-right">{{ month.speciesCount }}</td>	
					<td class="text-right">{{ month.tripCount }}</td>					
				</tr>
			</tbody>
		</table>
	</div>
</article>