table {
  width: auto;
  border: $border;  
  font-size: .75em;  
  &#html5Features td {
      height: 10px;
      padding: 2px 5px;
  }
  &.report tbody tr:nth-child(even) {
    background: #DDD;
  }
  th {
    background: black;
    color: #BBB;
    &.header{
      cursor: pointer;
    }
    &:hover {
      color: white;
    }
  }    
  th, td {
    width: auto;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    border: $border;
    &.left_aligned {
      text-align: left;
    }
    &.numeric, &.right_aligned {
      text-align: right;
    }
    &.center_aligned {
      text-align: center;
    }
  }
  tr {
    &.even_row {
      background: #DDD;
    }
    &.odd_row {
      background: #FFF;
    }
    &.subheading {
      background: #AAA;
    }
  }
}
// red / green indicators for boolean attributes
span.status {
  display: block;
  width: 10px;
  height: 10px;
  margin: .25em auto;
  padding: 0;
  border: $border;
  &.true {
    background: green;
    color: green;
  }
  &.false {
    background: red;
    color: red;
  }
}